{%  comment  %}
   - added show and hide buttons for filters
 {%  endcomment  %}
 <button class="show-filters-btn" id="showFiltersBtn"> Filter / Sort
    {% render 'snip-icons',
   wrapper: '',
   type: 'fash-theme',
   icon: 'filter',
   classes: 'filter--icon',
   size: '14px',
   fill: 'white',
   hover: 'var(--text-color)' %}
 </button>
 <button class="hide-filters-btn hidden" id="hideFiltersBtn"> {% render 'snip-icons',
   wrapper: '',
   type: 'apollo',
   icon: 'close',
   classes: 'close--icon',
   size: '14px',
   fill: 'white',
   hover: 'var(--text-color)' %} Hide filters</button>